extends layout

block content
  h4 Hi, My name is Sobbuh

  .recent-posts-listing
    each post in posts.orderBy('date', 'desc').slice(0, 10)
      h6.title
        a.post-title(href=post.permalink)= post.title