extends layout

block content
  h3 Hi, My name is Sobbuh
  :markdown
    Welcome to my site! Learn more about me or just read some of my thoughts.

  .recent-posts-listing
    each post in posts.orderBy('date', 'desc').slice(0, 10)
      h3.title
        a.post-title(href=post.permalink)= post.title
      .body!= post.body