extends layout

block content
  h5 Hi, My name is Sobbuh. 
  h6 This website contains some of my thoughts. Like all things in life, this is a work in progress. If you have questions or want to get in touch, email me at hello@sobbuh.com. 

  .recent-posts-listing
    each post in posts.orderBy('date', 'desc').slice(0, 10)
      h6.title
        a.post-title(href=post.permalink)= post.title
      p.date